.button {
  border: none;
  background: linear-gradient(to left, var(--lime-green), var(--bright-cyan));
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  color: white;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
}
